/**
 *
 * 音乐搜索器 - CSS 文件
 *
 * @author  MaiCong <i@maicong.me>
 * @link    https://github.com/maicong/music
 * @since   1.5.4
 *
 */

html {
  font-family: -apple-system, BlinkMacSystemFont, 'San Francisco', 'Microsoft YaHei', 'PingFang SC',
    'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: subpixel-antialiased;
}
a {
  -webkit-transition: all .3s;
  transition: all .3s;
}
.about {
  background: #fff;
  color: #7f8c8d;
}
.about-color {
  color: #34495e;
}
.about-title {
  font-size: 180%;
  text-align: center;
}
.main {
  margin: 60px 0;
}
.music-tabs > li > a {
  padding: 0.5em 1em;
  cursor: pointer;
}
.music-main {
  display: none;
}
.music-main input {
  text-overflow: ellipsis;
}
.music-main input:focus,
.music-main input:hover {
  background: #eee;
  border-color: #ccc;
  color: #222;
}
.music-type .am-radio-inline,
.music-type label {
  color: #7f8c8d;
}
.music-type .am-icon-unchecked,
.music-type .am-icon-checked {
  color: #0e90d2;
}
.music-tips {
  margin-top: 50px;
}
.music-tips blockquote {
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size: 14px;
  margin-top: 30px;
}
.music-tips p span {
  display: inline-block;
  min-width: 50px;
}
.music-tips p b {
  font-weight: 500;
  color: #c7254e;
}
.music-overflow {
  max-height: 200px;
  overflow: hidden;
}
.music-more {
  padding: 10px;
  text-align: center;
  font-size: 14px;
  color: #666;
  background: #eee;
  cursor: pointer;
}
.footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
}
.footer p {
  color: #7f8c8d;
  margin: 0;
  padding: 15px;
  text-align: center;
  background: #2d3e50;
}
.footer p a {
  color: #7f8c8d;
}
.footer p a:hover {
  color: #bbb;
}
.footer a {
  text-decoration: underline;
}
.am-alert {
  display: none;
}
.am-popup-bd {
  height: 100%;
}
.aplayer {
  padding: 10px !important;
  margin: 0 !important;
  border: 1px solid #ccc;
}
.aplayer .aplayer-info .aplayer-music .aplayer-title,
.aplayer .aplayer-info .aplayer-music .aplayer-author {
  font-size: 16px !important;
  color: #555 !important;
}

.aplayer .aplayer-list ol li .aplayer-list-index {
  display: inline-block;
  width: 20px;
  text-align: right;
}
.aplayer .aplayer-lrc p {
  color: #0e90d2 !important;
}
.aplayer .aplayer-more {
  position: relative;
  font-size: 12px;
  padding: 8px 10px;
  margin-top: 10px;
  text-align: center;
  color: #888;
  cursor: pointer;
  -webkit-transition: color .3s;
  transition: color .3s;
}
.aplayer .aplayer-more:hover,
.aplayer .aplayer-more:active {
  color: #0e90d2;
}

.aplayer.aplayer-withlrc .aplayer-pic {
  width: 120px !important;
  height: 120px !important;
  -webkit-box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 3px 0 rgba(0, 0, 0, .5);
}
.aplayer.aplayer-withlrc .aplayer-info {
  margin-left: 120px !important;
  height: 120px !important;
}
.aplayer.aplayer-withlist .aplayer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-bottom: 0 !important;
}
.aplayer.aplayer-withlist .aplayer-list {
  height: auto !important;
  padding-top: 20px;
  -webkit-transition: none;
  transition: none;
}
.aplayer.aplayer-withlist .aplayer-list-hide {
  padding: 0;
}
